

.terraform
terraform/.terraform.lock.hcl
terraform.state
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform/.terraform.lock.hcl
.terraform/
*.tfstate
*.tfstate.*

debug.log
credpal-assignment/

